<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body style="background-color:#ECF0F3 ;">
    <div  id="container">
       <a href="/quiz">Easy</a>
       <a href="/quiz">medium</a>
       <a href="/quiz">hard</a>
    </div>
</body>
</html>