<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div id="background">
        <div id="left">
            <div class="logo">
                <img src="../images/Untitled design.png" alt="">
            </div>
            <h1>Welcome,</h1>
            <p>Lorem ipsum dolor sit.</p>
            <form action="/login" method="post">
                <input type="text" placeholder="username" name="username">
                <input type="text" placeholder="password" name="password">
                <input type="submit">
            </form>
            <h5>create an account here <a href="/reg">Register here!</a></h5>
        </div>
        <div id="right">
            <h1>Loremipsum</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, neque, incidunt eos omnis tempora adipisci, iste placeat itaque molestias atque perferendis blanditiis dolore officia nihil consequatur fuga nobis quisquam temporibus excepturi consectetur! Alias ratione enim provident aut earum assumenda ea.</p>
            <img src="../images/illustraion.png" alt="">
        </div>
    </div>
</body>
</html>